@{
    ViewData["Title"] = "Tags";
}

@section Head{
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-1 col-lg-offset-11">
        <a asp-controller="Tag" asp-action="Create" class="btn btn-primary">New </a>
        <span class="spacing"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="fa fa-table"></i>
                    Tags
                </h3>
            </div>
            <div class="box-content nopadding">
                
                <table class="table table-striped table-bordered" id="tableTags" width="100%">
                    <thead>
                        <tr role="row">
                            
                            <th>Name</th>
                            <th>Checked</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
@section Scripts{

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript">
        $(function () {
            $('#tableTags').dataTable({
                ajax: '/tag/GetTagsJson',
                "searching": false,
                "columns": [                    
                    { "data": "name" },
                    {
                        "data": "weblink",
                        "render": function (data, type, row, meta) {
                            if (row.checked) {
                                data = '<a href="#" class="btn editar-grid" rel="tooltip" title="Editar" data-original-title="Editar" style="color:green;"><i class="fa fa-edit" ></i>';
                            }
                            else {
                                data = '</a > <a href="#" class="btn excluir-grid" rel="tooltip" title="Excluir" data-original-title="Excluir" style="color:red;"><i class="fa fa-times"></i>	</a>';
                            }
                            return data;
                        }
                    }
                ]
            });
        });
    </script>
}