@model WebApplication4.Models.TaskModel

@{
    ViewData["Title"] = "Create Task";
}

<h1>Create Task</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description"  class="form-control" rows="4" cols="100" ></textarea>
            </div>
            <div class="form-group">                
                <a asp-action="Index" class="btn btn-info">Cancel</a>
                <input type="submit" value="submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
